# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# ==========================
# Virtual Environment
# ==========================
venv/
.env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Playwright
# ==========================
playwright-report/
test-results/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Misc
# ==========================
*.sqlite3
*.csv